<html>
    <head>
        <title>IC UC</title>
    </head>
    <script>alert("Welcome");</script>
    
    <body>
        <contain>
        <h1> <center><a href="https://find-uc-kids-ggome009.c9users.io/">IC UC</a></center> </h1>
            
        
            <center><a href="https://find-uc-kids-ggome009.c9users.io/signup"> Sign Up </a> - <a href="https://find-uc-kids-ggome009.c9users.io/login"> Log In </a> -  <a href="https://find-uc-kids-ggome009.c9users.io/message"> Message Demo </a></center>
        
        
        </contain>
    </body>
</html>