<html>
    <head>
        <title>IC UC</title>
    </head>
    
    
    <body>
        <contain>
        <h1> 
            <center>
                <a href="https://find-uc-kids-ggome009.c9users.io/">IC UC</a>
            </center> 
        </h1>
        
        <form>
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="text" name="password">
            <br>
            <input type="submit" value= "Log In"
        </form>
            
        
            
        </contain>
    </body>
</html>